<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Zoo Management{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.css') }}" />
    {% endblock %}
    {% block javacripts %}
        <script type="text/javascript" src="{{ asset('bootstrap/js/jquery-1.11.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bootstrap/js/jquery-ui.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bootstrap/js/npm.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bootstrap/js/sorttable.js') }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="{{ asset('js/script.js') }}"></script>
</head>

<body>
    {% block header %}
      <div class="bs-docs-header">
            <div class="container">
           <div class="navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">links toggle button</span>
                        <span class="mdl-color--white white icon-bar"></span>
                        <span class="mdl-color--white white icon-bar"></span>
                        <span class="mdl-color--white icon-bar"></span>
                    </button>
    <!--                <a href="#"><span class="navbar-brand">Animal Management</span></a>-->
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav nav-tabs nav-justified">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">
                                Animal<span class="mdi mdi-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a href="/animal">Liste</a></li>
                                <li role="presentation"><a href="/animal/add">Ajouter</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    {% endblock %}
    <div class="container bs-docs-container">
<!--       <center>-->
        {% block body %}
        {% endblock %} 
        {% block javascripts %}
        {% endblock %}
<!--       </center>-->
    </div>

    {% block footer %}
    <div class="bs-docs-footer">
        <div class="container">
            <p class="page-header"></p>
            <p class="text-center">
                <span class="glyphicon glyphicon-copyright-mark"></span> NDIAYE A, NGUYEN TT
                <span class="glyphicon glyphicon-copyright-mark"></span> <a class="black" href="https://www.esiea.fr" target="_blank">ESIEA</a> 2016.
                <br><a class="black" href="https://www.symfony.com/" target="_blank">Symfony</a> 2.8, <a class="black" href="http://getbootstrap.com/" target="_blank">Bootstrap</a> 3.3.7 and  <a class="black" href="http://glyphicons.com/" target="_blank">Glyphicons</a>.
            </p>
        </div>
        <!-- container -->
    </div>
    <!-- footer -->
    {% endblock %}

</body>

</html>