{# src/Zoo/AnnimalBundle/Resources/views/AnimalView/detail.html.twig #} 

{% extends 'base.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>Information détaillée</h1>      
</div>

<div class="jumbotron">
    <dl class="dl-horizontal">
        <dt>Nom</dt>
        <dd>{{ animal.getName() }}</dd>
        <dt>Espèce</dt>
        <dd>{{ animal.getSpecies() }}</dd>

        <dt>Classe</dt>
        <dd>{{ animal.getClass() }}</dd>

        <dt>Poids (kg)</dt>
        <dd>{{ animal.getWeight() }}</dd>

        <dt>Taille (m)</dt>
        <dd>{{ animal.getHeight() }}</dd>

        <dt>Âge (année(s))</dt>
        <dd>{{ animal.getAge() }}</dd>

    </dl>
</div>
<div class="container col-md-12">
    <a id="back" class="btn btn-success" href="/animal">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
        Revenir à la liste d'Animaux
    </a>
</div>
{% endblock %}