{# src/Zoo/AnnimalBundle/Resources/views/AnimalView/list.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>
        Liste d'Animaux
    </h1>
</div>
<div class="table-responsive">
  <table class="table table-hover table-condensed"
    <thead>
       <tr class="success">
            <td class="text-center">Nom</td>
            <td class="text-center">Espèce</td>
            <td class="text-center">Famille</td>
            <td class="text-center">Classe</td>
    <!--
            <td class="text-center">Poids (kg)</td>
            <td class="text-center">Taille (m)</td>
            <td class="text-center">Âge</td>
    -->
            <td class="text-center">Action</td>
        </tr>
    </thead>
    <tbody>
        {% for animal in listAnimals %}
          <tr>
                <td class="text-center">{{ animal.getName() }}</td>
                <td class="text-center">{{ animal.getSpecies() }}</td>
                <td class="text-center">{{ animal.getFamily() }}</td>
                <td class="text-center">{{ animal.getClass() }}</td>
    <!--
                <td class="text-center">{{ animal.getWeight() }}</td>
                <td class="text-center">{{ animal.getHeight() }}</td>
                <td class="text-center">{{ animal.getAge() }}</td>
    -->
                <td class="text-center">
                    <a href="/animal/show/{{animal.getId()}}">Voir Plus <span class="glyphicon glyphicon-eye-open"></span></a> | 
                    <a href="/animal/edit/{{animal.getId()}}">Editer <span class="glyphicon glyphicon-edit"></span></a> | 
                    <a href="/animal/remove/{{animal.getId()}}">Supprimer <span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        {% endfor %}
    <tbody>
</table>
</div> 
<div class="container col-md-12">
    <a id="back" class="btn btn-success" href="/animal/add">
        <span class="glyphicon glyphicon-plus"></span>
        Ajouter un nouvel animal
    </a>
</div> 
{% endblock %}
                         